<nav class="navbar fixed-bottom navbar-inverse bg-inverse bg-faded">
  <div class="container">
    
    <a class="navbar-brand" href="https://angular.io/" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <img src="/assets/images/angular.png" height="40" alt="">
    </a>
    <a class="navbar-brand" href="https://v4-alpha.getbootstrap.com/" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <img src="assets/images/bootstrap-solid.svg" height="35" alt="">
    </a>
    <a class="navbar-brand" href="https://firebase.google.com/" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <img src="assets/images/firebase.png" height="35" alt="">
    </a>
    <a href="https://david-dm.org/NewtonJoshua/MovieSeatReservation" title="dependencies status" target="_blank"><img src="https://david-dm.org/NewtonJoshua/MovieSeatReservation/status.png"/></a>
  </div>
</nav>
