<div class="reservation">
  <div class="card">
    <div class="card-header">
      <h6 class="text-muted">Pick your seat(s)</h6>
    </div>
    <div class="card-block">
      <div class="card-columns">
        <div class="card card-{{ seat.available ?  'success available' : 'danger booked'}} {{ seat.selected ?  'card-warning' : ''}} card-inverse text-center"
          *ngFor="let seat of seats  | async" (click)="selectSeat(seat)">
          {{seat.seatName}}
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      You reserved {{selectedSeats.length}} seat(s): <span *ngFor="let seat of selectedSeats">{{seat.seatName}} </span>
      <div class="float-right">
        <button type="button" class="btn btn-danger" (click)="reset()">Reset Application</button>
        <button type="button" class="btn btn-primary" (click)="save()">Confirm reservation</button>
      </div>
    </div>
  </div>

</div>
