.reservation {
  margin: 80px 0 80px 0;
}

.card-columns {
  column-count: 12;
}

.available {
  cursor: pointer;
  cursor: hand;
}

.booked {
  cursor: default;
  pointer-events: none;
}

.seatArea {
  height: 170px;
  margin: 50px 45% 0 45%;
}
